body, html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
    background-color: var(--primary);
    transition: background ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;    
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: white;
    border-bottom: solid 2px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 2px white;
}

#header .active{
    border-bottom: solid 2px white;
}

#header .navbar-light .navbar-toggler{
    color: transparent;
    border-color: transparent;
}

#header .navbar-light .navbar-toggler:focus{
    outline: none;
}

#header .navbar-light .navbar-toggler-icon{
    background-image: url(../assets/favicon-v1/icone-menu-48x48.png);
}

#carouselExampleIndicators{ 
    width: 100%;
    height: 100vh;
    background-image: url(../assets/bg_slider.svg);
    background-size: cover;
    /*Centralizando Verticalmente os elmeentos do Carrossel*/
    display: flex;
    align-items: center;
}

#carouselExampleIndicators h1{
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
}

#carouselExampleIndicators p{
    color: white;
    font-size: 2em;
}

#sobre{
    background-color: var(--gray);
}

#footer .bg-footer-light{
    background-color: var(--gray);
}

#footer .bg-footer-dark{
    background-color: var(--primary);
    color: white;
}

#footer h2, #noticias h2, #documentos h2{
    border-color: var(--primary);
    color: var(--primary);
}

#footer h2::after, #noticias h2::after, #documentos h2::after {
    background: var(--primary);
    content: '';
    display: block;
    width: 100%;
    height: 5px;
}

.bg-gray{
    background-color: var(--gray);
}

.bg-gray-dark{
    background-color: var(--gray-dark);
}

/*FONTES*/
* {
    font-size: 25px;
}
p {
    font-size: .9rem;
}

h1 {
    font-size: 1.65rem;
}

h2 {
    font-size: 1.45rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.05rem;
}

h5 {
    font-size: .9rem;
}

h6 {
    font-size: .8rem;
}

.col > p, strong, p.text-center, .col-sm-12 > p, .col-sm-9 > p{
    font-size: .8rem;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: .8rem;
}

th, tr {
    font-size: 1rem;
}

.col-sm-12 {
    border-radius: 1em 1em 0px 0px;
}

thead {
    border-radius: 1em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.row {
    display: flex;
    justify-content: center;    
}

/*.table thead th:last-child{
    border-radius: 10px;
}*/

.table tbody > tr {
    transition: .5s;
}

.table tbody > tr:hover {
    background-color: #BAC5CD;
}

.noticia {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    border-radius: 1em;
}

.row .mt-3 .mb-3 .bg-gray {
    
}

.card-img-top {
    border-radius: 1em;
}

.card, .card-img-top {
    width: 300px;
}

@media (max-width: 991px) {
    

    
}