@import url(./bootstrap.min.css);
@import url(./config.css);
@import url(./global.css);
@import url(./custom.css);
@import url(./responsive.css);

/*GERAL*/
* {
    font-size: 25px;
}
p {
    font-size: .9rem;
}

h1 {
    font-size: 1.65rem;
}

h2 {
    font-size: 1.45rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.05rem;
}

h5 {
    font-size: .9rem;
}

h6 {
    font-size: .8rem;
}

.col > p, strong, p.text-center, .col-sm-12 > p, .col-sm-9 > p{
    font-size: .8rem;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: .8rem;
}

th, tr {
    font-size: 1rem;
}